body {
    background: #fff;
    font-size: 20px; 
    color: rgb(255, 115, 0);
    font-family: 'Francois One', sans-serif;
}
    
.ella img{
    width: 45%;
    margin-left: 5%;    
}

.box{
    margin-left: 20%;
    margin-bottom: 3%;
}


    
    

