html,
body,
.container1 {
  height: 100%;
}

  .container1 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  padding: 20px;
  height: 40%;
  
}

.myex {
 size: 50%;
}

.container2 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
}