html,
body,
.container1 {
  height: 100%;
}

  .container1 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  padding: 0px;
}

.myex {
 size: 50%;
}

.container2 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
}

.churchsex {
  size: 50%;
}

