.container {
  display: flex; flex-direction: row; justify-content: space-around;
}

  .gif {
    padding-left: 50px;
    padding-top: 50px;
  width: 300px;
}

.myex {
  width: 900px;
  padding-top: 50px;