html,
body,
.container1 {
  height: 100%;
}

img {
  max-width: 100%;
}

  .container1 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  padding: 0px;
  height: 300px;
}

.gif {
  width: 300px;
}

.anorexic {
  width: 300px;
}
.myex {
 width: 300px;
}

.smells {
  width: 300px;
}

.container2 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  height: 300px;
}

.churchsex {
  width: 300px;
}

.drugproblem {
  width: 300px;
}

.daydream {
  width: 300px;
}

.nailpolish {
  width: 300px;
}

.container3 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  height: 300px;
}

.capitalism {
  width: 300px;
}

.insecurities {
  width: 300px;
}

.fold3 {
  width: 300px;
}

.ramen {
  width: 300px;
}

.container4 {
  display: flex; flex-direction: row; justify-content: space-around; align-items: center;
  height: 300px;
}

.churchpee {
  width: 300px;
}

.months {
  width: 300px;
}

.question {
  width: 300px;
}








div {
  img: url("./assets/bestfriend.jpg");
}
div:hover {
  img: url("./assets/fold3.jpg");
}

.image-hover {
  display: none;
}

.image-set {
  width: 300px;
}

.image-set:hover .image {
  display: none;
}

.image-set:hover .image-hover {
  display: block;
}