@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7a104b48-217c-4b65-a862-f965531e4d16");
@font-face{
    font-family:"Cheltenham W01 Roman";
    src:url("fonts/f3a21444-56aa-4ae6-bc95-e88c03895a5e.eot?#iefix");
    src:url("fonts/f3a21444-56aa-4ae6-bc95-e88c03895a5e.eot?#iefix") format("eot"),url("fonts/fa8bb3b9-fb50-475b-ba91-a780f34a37ca.woff2") format("woff2"),url("fonts/f644507a-8781-43a9-88a9-d593b404982f.woff") format("woff"),url("fonts/8cd370f4-c422-4106-bbc6-259a406437b5.ttf") format("truetype");
}
@font-face{
    font-family:"Cheltenham W01 Italic";
    src:url("fonts/c21bb51f-ba86-4b57-8b7c-a0facd426dc3.eot?#iefix");
    src:url("fonts/c21bb51f-ba86-4b57-8b7c-a0facd426dc3.eot?#iefix") format("eot"),url("fonts/20471c31-5f7c-4f80-b508-e9c940984938.woff2") format("woff2"),url("fonts/00fc6228-8e72-4be7-a3e1-325c9e199e1c.woff") format("woff"),url("fonts/84cb102e-923a-4000-80dc-09f39f86f1b7.ttf") format("truetype");
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
  0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}

.container {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.marquee1 {
  font-family:"Cheltenham W01 Roman";
  margin-top: 80px;
  bottom: 20;
  left: 0;
  right: 0;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  white-space: nowrap;
  height: 200px;
  width: 100%;
  font-size: 55px;
  color: #000000;
  border-width: 4;
  animation: marquee 22s linear infinite;
}

.marquee2 {
  font-family:"Cheltenham W01 Roman";
  position: absolute;
  margin-top: 40px;
  bottom: 80;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 18px;
  color: #000000;
  border-width: 4;
  animation: marquee 17s linear infinite;
  animation-direction: reverse;
}

.marquee3 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: -120px;
  top: 60;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 24px;
  color: #000000;
  border-width: 4;
  animation: marquee 21s linear infinite;
  animation-direction: reverse;
}

.marquee4 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: -50px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 18px;
  color: #000000;
  border-width: 4;
  animation: marquee 19s linear infinite;
}

.marquee5 {
  font-family: "Cheltenham W01 Italic";
  position: absolute;
  margin-bottom: 550px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 24px;
  color: #000000;
  border-width: 4;
  animation: marquee 25s linear infinite;
  animation-direction: reverse;
}

.marquee6 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: 500px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-family: "Cheltenham W01 Roman";
  font-size: 30px;
  color: #000000;
  border-width: 4;
  animation: marquee 28s linear infinite;
}

.marquee7 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: 100px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-family: "Cheltenham W01 Roman";
  font-size: 24px;
  color: #000000;
  border-width: 4;
  animation: marquee 18s linear infinite;
}

.marquee8 {
  font-family: "Cheltenham W01 Italic";
  position: absolute;
  margin-bottom: 200px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-family: "Cheltenham W01 Italic";
  font-size: 40px;
  color: #000000;
  border-width: 4;
  animation: marquee 22s linear infinite;
  animation-direction: reverse;
}

.marquee9 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: 350px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-family: "Cheltenham W01 Roman";
  font-size: 70px;
  color: #000000;
  border-width: 4;
  animation: marquee 18s linear infinite;
}

.marquee10 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: 270px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-family: "Cheltenham W01 Roman";
  font-size: 18px;
  color: #000000;
  border-width: 4;
  animation: marquee 17s linear infinite;
}

.marquee11 {
  font-family: "Cheltenham W01 Italic";
  position: absolute;
  margin-bottom: 700px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:100%;
  font-size: 24px;
  color: #000000;
  border-width: 4;
  animation: marquee 28s linear infinite;
}

.marquee12 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: 380px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 24px;
  color: #000000;
  border-width: 4;
  animation: marquee 20s linear infinite;
}

.marquee13 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: 600px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 18px;
  color: #000000;
  border-width: 4;
  animation: marquee 25s linear infinite;
}

.marquee14 {
  font-family: "Cheltenham W01 Italic";
  position: absolute;
  margin-bottom: 50px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width:400px;
  font-size: 18px;
  color: #000000;
  border-width: 4;
  animation: marquee 30s linear infinite;
}

.marquee15 {
  font-family: "Cheltenham W01 Roman";
  position: absolute;
  margin-bottom: -20px;
  bottom: 0;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  height:30px;
  width: 100%;
  white-space: nowrap;
  height:200px;
  width: 100%;
  font-size: 50px;
  color: #000000;
  border-width: 4;
  animation: marquee 18s linear infinite;
  animation-direction: reverse;
}

