.punk {
  margin-top: 10px;
    margin-left: 50px;
    width: 20%;
    padding: 25px;
  }

  .prayer {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    width: 33.33%;
    padding: 50px;
  }

  .tompkins {
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    width: 1%;
  }

  .postcard {
    width: 30%;
    padding: 20px;
  }

  .louvre {
    width: 30%;
    padding: 20px;
  }

  .vintage {
    width: 80%;
    padding: 20px;
  }





