
  .prayer {
    margin-top: 10px;
    margin-left: 10px;
    width: 33.33%;
    padding: 5px;
  }

  .punk {
    margin-left: 10px;
    width: 33.33%;
    padding: 10px;
  }

  .tompkins {
    margin-left: 10px;
    width: 10%;
  }

