
  .prayer {
    margin-top: 10px;
    margin-left: 10px;
    width: 33.33%;
    padding: 5px;
  }

  .punk {
    margin-left: 10px;
    width: 20%;
    padding: 10px;
  }

  .tompkins {
    margin-left: 10px;
    padding: 15px;
    width: 4%;
  }

  .postcard {
    width: 30%;
    padding: 20px;
  }

  .louvre {
    width: 30%;
    padding: 20px;
  }

  .vintage {
    width: 80%;
    padding: 20px;
  }

  



