.punk {
  margin-top: 10px;
    margin-left: 80px;
    width: 20%;
    padding: 25px;
  }

  .prayer {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    width: 33.33%;
    padding: 50px;
  }

  .tompkins {
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    width: 1%;
  }

  .postcard {
    margin-left: 80px;
    padding-top: 30px;
    width: 30%;
    padding: 20px;
  }

  .louvre {
    width: 30%;
    padding: 60px;
  }

  .vintage {
    margin-left: 10px;
    width: 80%;
    padding: 15px;
    padding-bottom: 20px;
  }

  .blackout {
    padding: 20px;
  }

  .france {
    padding-left: 40px;
    padding-right: 30px;
    margin-left: 150px;

  }

  .film {
    margin-left: 10px;
    padding-top: 80px;
    padding: 20px;
  }

  .flowers {
    margin-left: 10px;
    padding: 10%;
    margin-top: 40%;
  }



 







