.punk {
  margin-top: 10px;
    margin-left: 80px;
    width: 20%;
    padding: 25px;
  }

  .prayer {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    width: 33.33%;
    padding: 50px;
  }

  .tompkins {
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
    width: 1%;
  }

  .postcard {
    margin-left: 80px;
    margin-top: 90px;
    width: 30%;
    padding: 20px;
  }

  .louvre {
    width: 30%;
    padding: 60px;
  }

  .vintage {
    width: 80%;
    padding: 20px;
  }

  .necklaces {
    margin-top: 40px;
    margin-left: 10%;
    padding: 10%;
  }

  .painting {
    padding: 20%;
  }

  .bags {
    
  }

  .film {
    padding: 20%;
  }





