body {
    background: #ffff;
    font-size: 20px; color: rgb(255, 115, 0);
    font-family: 'Francois One', sans-serif;
}

.box{
    margin-left: 5%;
    margin-top: 2%;
    margin-left: 25%;
}

.ella2 img{
    width: 25%;
    margin-left: 60%;
    margin-top: 2%;
    
}