.heading {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
}

.subhead {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
}

.paragraph {
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;

}