.heading {
  font-family: 'EB Garamond', serif;
  font-size: 60px;
  color: pink;
}

.subhead {
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  color: pink;
}

.paragraph {
  font-family: 'EB Garamond', serif;
  font-size: 10px;
  color: pink;

}