* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 0;
}

html, body, .wrapper {
  height: 100%;
}

.column {
  width: 50%;
  height: 100%;
  background: #ffa;
  height: 100%;
  display: inline-block;
  padding: 30px;
}

.content {
  background: #f1f1f1;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  border: 1px solid #000;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 15px 15px 0;
  font-size: 20px;
}

nav-item:hover, .active {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.green { background: #B8E986; }
.red { background: #FF0000; }
.blue { background: #0000FF; }
.sol-lewitt { background: url('../img/sol-lewitt.gif')}

.slay { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #f1f1f1;
  font-size: 200px;
}

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.close {
  font-size: 80px;
  line-height: 0;
  position: absolute;
  top: 40px;
  right: 20px;
}
