html,
body,
.container1 {
  height: 100%;
}

  .container1 {
  display: flex;
  padding: 20px;
  height: 80%;
  justify-content: flex-end;
}

.box {
  width: 200px;
  height: 200px;
  color: lightblue;
}

.box2 {
  width: 300px;
  height: 300px;
  color: orangered;
  position: fixed;
  margin-left: 200px;
  margin-top: 100px;
  transform: right(8)
}