html,
body,
.container1 {
  height: 100%;
}

  .container1 {
  display: flex;
  padding: 20px;
  height: 40%;
  justify-content: flex-end;
}

.box {
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: lightblue;
}

.box2 {
  width: 300px;
  height: 300px;
  background-color: orangered;
  position: fixed;
  margin-left: 200px;
  margin-top: 100px;
  transform: rotate(-8deg);
}

.box3 {
  width: 150px;
  height: 150px;
  background-color: plum;
  position: static;
  margin-left: 45%;
}

.box4 {
  width: 300px;
  height: 300px;
  background-color: royalblue;
  position: relative;
  margin-left: 70%;
  margin-top: 5%;
  transform: rotate(5deg);
}

.box5 {
  width: 300px;
  height: 500px;
  background-color: yellowgreen;
  margin-left: 60%;
  margin-top: 10%;
  position: absolute;
}