html,
body,
.container1 {
  height: 100%;
}

  .container1 {
  display: flex;
  background-color: pink;
  padding: 20px;
  height: 80%;
  align-content: center;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px blue;
  background-color: blue;
}