body {
    background: #fff;
    font-size: 20px; 
    color: rgb(255, 115, 0);
    font-family: 'Francois One', sans-serif;
}
    
.ella img{
    width: 70%;
    margin-right: 10%;    
}

.box{
    margin-left: 20%;
}

.arrow{
    width: 20%;
    margin-left: 70%;

}
    
    

