body {
        background:
        font-size 60px; color: rgb(255, 115, 0)
        font-family 'Francois One', sans-serif;
    }
    
    .ella img{
        width: 70%;
        margin-right: 10%;
        
    }
    
    

