/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.watering-can {
  width: 5%;
  height: 5%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 2.5%;
  background: rgb(223, 205, 205);
  margin-inline-start: 0%
}

.cat {
  width: 4%;
  height: 7%;
  background: blanchedalmond;
}

.orange1 {
  width: 2%;
  height: 2%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 2%;
  background: orangered;
}

.orange2 {
  width: 2%;
  height: 2%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 2%;
  background: orangered;
}

.vase {
  width: 4%;
  height: 10%;
  background: brown;
}

.block {
  width: 6%;
  height: 3%;
  background: burlywood;
}

.book {
  width: 8%;
  height: 2%;
  background: darkcyan;
}

/* Your CSS goes here */
