.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  
  @keyframes spinType {
  0% {
    transform: rotate(0.5turn);
  }
  60% {
    transform: rotate(0.7turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

div.img1 {
  height: 500px;
  animation: spinType 5s ease-in-out infinite;
}

div.img2 {
  height: 500px;
  animation: img1Spin 5s ease-in-out infinite;
}

.img3 {
  height: 500px;
  animation: img1Spin 5s ease-in-out infinite;
}