body {
        background: #ffff;
        font-size: 20px; color: rgb(255, 115, 0);
        font-family: 'Francois One', sans-serif;
    }

    .box{
        margin-left: 40%;
        margin-top: 40%;
        margin-right: 5%;
    }
    
    
    
    

