* { box-sizing: border-box; }

body {
    background: #f00;
    margin: 0;
    font-size: 0;
}

.c {
    background: #ff0;
    margin: 0 100px 15px;
    display: inline-block;
    font-size: 14px;
    padding: 20px;
}

.c-1 {width: 130px;}    
.c-2 {width: 200px;} 
.c-3 {width: 450px;}
.c-4 {width: 610px;}
.c-5 {width: 770px;}
.c-6 {width: 100%;}

img { width: 100%; }


.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    background: #0f0;
}