body {
    background:rgb(255, 115, 0);
    
}

.title{
    font-size: 100px;
    color: #fff;
    font-family: 'Francois One', sans-serif;
    
}

.section{
    font-size: 20px;
    color: #fff;
    font-family: 'Francois One', sans-serif;
    margin-top: 40px;
    margin-left: 950px;
}

.next{
    margin-top: 80px;
}