body {
        background: #ffff;
        font-size: 20px; color: rgb(255, 115, 0);
        font-family: 'Francois One', sans-serif;
    }

    .box{
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 30%;
    }
    
    .legs img{
        width: 50%;
        margin-left: 40%;
        
    }
    
    

