body {
        background: #ffff;
        font-size: 20px; color: rgb(255, 115, 0);
        font-family: 'Francois One', sans-serif;
    }

    .box{
        margin-left: 10%;
        margin-top: 10%;
    }
    
    .friends img{
        width: 50%;
        margin-left: 20%;
        margin-top: 5%;

    }

     .arrow{
            width: 1%;
            height: 20%;
            margin-left: 5%;
        
    }
    
    

