body {
    background: #fff;
    font-size: 20px; 
    color: rgb(255, 115, 0);
    font-family: 'Francois One', sans-serif;
    
}

.mary img{
    width: 50%;
    margin-left: 40%;
    
}

.mary{
    padding:10px;
}