body {
    background:
    font-size 50px; color: #ffA500
}

.bridge img{
    width: 30%;
    margin-left: 30%;
    
}

.bridge{
    background-color: #ffA500;
    padding:20px;
}

.box{
    background-color:blue;
    height: 300px;
}