
    body {
        background: #ffff;
        font-size: 20px; color: rgb(255, 115, 0);
        font-family: 'Francois One', sans-serif;
    }
    
    .mary3 img{
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
        
    }
    
    .box{
        margin-left: 5%;
        margin-left: 5%;
    }
    
    

