body {
    background:rgb(255, 115, 0);
    
}

.title{
    font-size: 80px;
    color: #fff;
    font-family: 'Francois One', sans-serif;
    
}

.section{
    font-size: 20px;
    color: #fff;
    font-family: 'Francois One', sans-serif;
}

.arrow{
    width: 1%;
    height: 20%;
    margin-left: 5%;

}
