body {
        background:
        margin-top
        font-size 60px; color: rgb(255, 115, 0)
        font-family 'Francois One', sans-serif;
    }

    .box{
        margin-right: 20%;
    }
    
    .friends img{
        width: 50%;
        margin-left: 10%;
        
    }
    
    

