html,
body {
background-color: black;
font-family: Didot;
}

.archive {
  display: block;
  align-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


.container1 {
  display: flex; flex-direction: column; justify-content: space-between; align-items: center;
  height: 300px;
}

.img {
  width: 60%;
  padding: 30px;
}

.back {
  position: fixed;
  left: 25px;
  top: 700px;
}

