html,
body {
background-color: black;
text-decoration: none;
} 


.top {
  display: block;
  font-family: 'Didot';
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.bottom {
  display: block;
  font-family: 'Didot';
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

  .side {
    font-family: 'Didot';
    font-size: 24px;
    color: white;
    text-align: center;
    margin-right: 20px;
    transform: rotate(90deg);
  text-orientation: sideways;
  position: absolute; 
  right: 0px;
  margin-top: -350px;
  text-decoration: none;
  }

.portrait {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  align-content: center;
  z-index: 1;
}

.weather-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-left: 210px;
  margin-top: 50px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.icon {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 65%;
  align-content: center;
  padding: 50px;
  z-index: 2;
  opacity: 0;
  transition: opacity 4s ease-in;

  animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.weather {
  color: black;
}

