html,
body {
background-color: black;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 75%;
  align-content: center;
  padding: 50px;
}