html,
body {
background-color: black;
font-family: Didot;
color: white;
text-align: center;
margin-left: 100px;
margin-right: 100px;
}

.title {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  padding: 20px;
  align-content: center;
}

.p {
  padding-bottom: 20px;
}

.back {
  position: fixed;
  left: 25px;
  top: 500px;
}

